<%= simple_form_for(@post, :html => {:class => 'form-horizontal' }) do |form| %>
  <% if @post.errors[:base].any? %>
    <ul>
    <% @post.errors[:base].each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
  <% end %>
  <%= form.input :title %>
  <%= form.input :published %>
  <%= form.input :body %>
  <%= form.input :abstract %>
  <%= form.input :published_at %>
  <%= form.button :submit %>
<% end %>